.mainDiv{
    height: 90vh;
    position: relative;
    overflow: hidden;

}

.mainVidIframe{
    pointer-events: none;
}

.imageFull{
    width: 100%;
    height: 100dvh;
    position: absolute;
    display: grid;
    align-items: center;
    justify-items: center;
}

.imageFull > p {
    text-align: center;
    font-weight: bold;
    scale: 2;
    position: absolute;
}

.imageFull > img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}